################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CandidateProject/bin
/CandidateProject/obj/Debug
/packages
