@model CandidateProject.ViewModels.CartonViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Carton Details</h2>

<div>

    <hr />
    <h3>
        @Html.DisplayNameFor(model => model.CartonNumber): @Html.DisplayFor(model => model.CartonNumber)
        &nbsp;&nbsp;(@Model.ItemCount of @ViewBag.MaxEquipCount items)
        &nbsp;&nbsp;@Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </h3>
</div>
