@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div style="padding: 20px; color:red">

    <h4>
        An error has occurred and your request can't be processsed at this time.
    </h4>
    <p>
        @ViewBag.Message
    </p>
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Carton")</h6>
    <br />
    <br />
</div>